<h1>Flights</h1>

<form class="search-bar" role="search">
  <%= search_form_for @q do |f| %>
    <div class="filter name">
      <%= f.text_field :formatted_address_cont, placeholder: "Search by location" %>

    </div>
    <%= f.button(type:'submit') do %>
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    <% end %>
  <% end %>
  
</form>

<%= render 'index' %>



