<h1>Flights</h1>

<%= search_form_for @q do |f| %>
  <div class="filter name">
    <%= f.text_field :formatted_address_cont, placeholder: "Search by location" %>
  </div>
  <% end %>


<%= render 'index' %>
