<div class="hero">
  <div class="hero-inner">   
    <div class="hero-copy">
      <h1 class="title">Citizen Drone</h1>
      <p>Share your drone videos and flight paths for a better, more transparent tomorrow!</p>  
    </div>
    <button> <%= link_to "Explore Flights", map_flights_path %></button>
    <!-- link_to -->
  </div>
</div>






